ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.slider {
    position: relative;
    width: 280px;
    height: 300px;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}


/* Mask */

ul.slider li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

ul.slider li:last-child {
    opacity: 1;
}

ul.slider li:target {
    opacity: 1;
    /*Mostramos el <li> del enlace que pulsemos*/
}

.container-slider {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px 1px rgb(0 0 0 / 20%);
    padding: 5% 0% 0%;
    margin-bottom: 20px;
    border-radius: 10px;
}

.circulo {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: #007EFD;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px auto;
    padding: 3%;
}

.circulo>h2 {
    color: white;
    font-size: 38px;
    font-weight: bold;
}

.text-slide {
    word-break: break-word;
    line-height: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.menu {
    text-align: center;
    margin: 10px;
}

.menu li {
    display: inline-block;
    text-align: center;
}

.menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #c4c4c4;
    padding: 10px;
    width: 18px;
    height: 18px;
    font-size: 18px;
    border-radius: 100%;
    margin: 0px 5px;
}

.carousel-card {
    background: #FFFFFF;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.15);
    border-radius: 22px;
    padding: 24px 0px;
    margin: 40px 0px;
}

@media(max-width: 375px) {
    .h4 {
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
}