.title-icon {
    vertical-align: middle;
}

.description-text {
    margin: 24px 0px;
}

.card-behavioral-description {
    margin-top: 104px;
    margin-bottom: 38px;
}

@media (max-width: 1200px) {
    .card-behavioral-description {
        margin-top: 0px;
        margin-bottom: 38px;
    }
}