@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Regular.ttf") format("opentype");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Black.ttf") format("opentype");
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Bold.ttf") format("opentype");
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-ExtraBold.ttf") format("opentype");
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-ExtraLight.ttf") format("opentype");
    font-weight: 200;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Light.ttf") format("opentype");
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Medium.ttf") format("opentype");
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-SemiBold.ttf") format("opentype");
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url("/assets/fonts/Poppins-Thin.ttf") format("opentype");
    font-weight: 100;
    font-display: swap;
}