.label-image-title{
    position: absolute; left: 6%; top: 9%
}

.content-image-title{
    position: absolute; left: 6%; top: 15%
}

.image-profile{
    width: 100%;
}

.content-image-description{
    position: absolute; left: 6%
}