.label-image-title {
    position: absolute;
    left: 6%;
    top: 9%
}

.content-image-title {
    position: absolute;
    left: 6%;
    top: 15%
}

.image-profile {
    width: 75%;
    display: flex;
    flex-direction: row-reverse;
}

.profile-image-details {
    display: flex;
    align-items: center;
    height: 350px;
    margin-bottom: 96px;
}

.description-detail {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    color: #0075FF;
    padding-bottom: 20px;
}

.h2 {
    color: #0075FF;
    white-space: nowrap;
    overflow: visible;
}

.description-icon {
    vertical-align: middle;
}

@media (max-width: 1200px) {
    .h2 {
        width: 100%;
        white-space: break-spaces;
    }
}

@media (max-width: 440px) {
    .perfil-type {
        padding: 0px 25px;
    }
    .h2 {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
    }
    .h6 {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
    .profile-image-details {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        margin-top: 40px;
        height: auto;
        margin-bottom: 0px;
    }
    .image-profile {
        width: 100%;
        flex-direction: row;
    }
    .image-profile img {
        width: 100%;
    }
}