<div class="d-flex">
  <div>
    <h4 class="select-hr-feedback__title">
      {{
        'REPORT_CONFIGURATION.selectHrFeedback.CONTENT.LABEL_DESCRIPTION'
          | translate
      }}
    </h4>
    <mat-form-field
      [style.fontSize]="18"
      appearance="standard"
      style="width: 90%">
      <!-- <mat-label>Hr Feedback</mat-label> -->
      <textarea
        class="select-hr-feedback__input"
        #hrFeedbackTextArea
        matInput
        placeholder="{{
          'REPORT_CONFIGURATION.selectHrFeedback.CONTENT.LABEL_PLACEHOLDER'
            | translate
        }}"
        cdkTextareaAutosize
        cdkAutosizeMinRows="10"
        cdkAutosizeMaxRows="100"
        (input)="changedText()"></textarea>
    </mat-form-field>
  </div>
</div>
