.title-icon {
    vertical-align: middle;
}

.description-text {
    margin: 24px 0px;
}

.card-text {
    margin-bottom: 140px;
}

.button-text {
    padding: 2px 20px;
}

.button-text .chevron {
    margin-left: 15px;
}

.behavioral-description-card {
    height: 350px;
    margin-bottom: 96px;
}