.title-icon {
    vertical-align: middle;
}

.description-text {
    margin: 24px 0px;
}

.card-text {
    margin-bottom: 100px;
}

.button-text {
    padding: 2px 20px;
}

.button-text .chevron {
    margin-left: 15px;
}