.background-container {
    overflow: visible;
    background-position-x: center;
    background-position-y: top;
    background-size: auto;
    background-color: initial;
    background-repeat: no-repeat;
    height: 7000px;
}

.background-hiring-informe-blue {
    background-image: url("/assets/img/reports/background-hiring-informe-blue.svg");
}