<form (submit)="searchButton()" autocomplete="off">
  <!--TODO: Fijar de sacar el form-field fuera del componente, para cambiar estilos correctamente-->
  <mat-form-field
    class="fld"
    appearance="outline"
    style="margin: 15px; width: 60%">
    <input
      matInput
      name="searchText"
      type="text"
      class="inp"
      height="25%"
      appearance="outline"
      aria-describedby="search-text"
      [(ngModel)]="text"
      (input)="keyPressed()"
      autofocus />
    <mat-icon matPrefix>{{ materialIcon }}</mat-icon>
  </mat-form-field>
</form>
