<form (submit)="searchButton()" autocomplete="off">
  <!--TODO: Fijar de sacar el form-field fuera del componente, para cambiar estilos correctamente-->
  <mat-form-field
    class="fld"
    appearance="outline"
    [ngStyle]="{ width: width }"
    style="font-size: 11px">
    <input
      matInput
      name="searchText"
      type="text"
      class="inp"
      appearance="outline"
      aria-describedby="search-text"
      [(ngModel)]="text"
      (input)="keyPressed()"
      autofocus />
    <mat-icon
      matPrefix
      [matTooltip]="searchTooltip"
      matTooltipPosition="below"
      >{{ materialIcon }}</mat-icon
    >
  </mat-form-field>
</form>
