<mat-grid-list cols="2" rowHeight="1:1" style="height: 100%">
  <mat-grid-tile style="height: 100%">
    <mat-card>
      <img src="../../../assets/img/login-image.jpg" />
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile style="height: 100%">
    <mat-card style="height: 90%; width: 80%">
      <div class="center" style="margin-top: 20%">
        <img src="../../../assets/icons/brand.svg" width="40%" alt="PDA" />
      </div>

      <div class="container">
        <div style="margin-top: 40px; text-align: left; margin-left: 20%">
          <h2>{{ 'PASSWORD-RECOVERY.NAME' | translate }}</h2>
        </div>

        <ng-template
          *ngIf="
            !requestedRecovery;
            then forgotPassword;
            else recoveryPassword
          "></ng-template>

        <div class="center" style="margin-top: 5%">
          <img
            src="../../../assets/icons/poweredbypda.png"
            width="25%"
            alt="Powered by PDA" />
        </div>
      </div>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<ng-template #forgotPassword>
  <p class="center" style="margin-right: 20%; margin-left: 20%">
    {{ 'PASSWORD-RECOVERY.FORGOT_PASSWORD_DESCRIPTION' | translate }}
  </p>
  <div class="center" style="margin-top: 15px">
    <mat-form-field style="width: 50%">
      <input
        matInput
        type="text"
        placeholder="{{ 'LOGIN.USERNAME_PLACEHOLDER' | translate }}"
        #userNameInput />
    </mat-form-field>
  </div>

  <div class="center">
    <button
      mat-raised-button
      color="Secondary"
      style="margin-top: 50px; width: 40%"
      (click)="sendForgotPassword()">
      {{ 'PASSWORD-RECOVERY.ACCEPT_BTN' | translate }}
    </button>
  </div>
</ng-template>

<!--  Recovery    -->

<ng-template #recoveryPassword>
  <form [formGroup]="recoveryPasswordForm" (submit)="sendRecoveryPassword()">
    <p class="center" style="margin-right: 20%; margin-left: 20%">
      {{ 'PASSWORD-RECOVERY.FORGOT_PASSWORD_SENDED_DESCRIPTION' | translate }}
    </p>

    <div class="center" style="margin-top: 15px">
      <mat-form-field style="width: 50%">
        <input
          matInput
          type="text"
          placeholder="{{ 'PASSWORD-RECOVERY.TOKEN_PLACEHOLDER' | translate }}"
          formControlName="tokenInput"
          #tokenInput />
      </mat-form-field>
    </div>

    <div class="center" style="margin-top: 15px">
      <mat-form-field style="width: 50%">
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="{{
            'PASSWORD-RECOVERY.NEW_PASSWORD_PLACEHOLDER' | translate
          }}"
          formControlName="newPasswordInput"
          #newPasswordInput />
        <mat-icon matSuffix (click)="hide = !hide">{{
          hide ? 'visibility_off' : 'visibility'
        }}</mat-icon>
      </mat-form-field>
    </div>

    <div class="center" style="margin-top: 15px">
      <div class="center">
        <label
          class="col row"
          [ngClass]="
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'required'
            ) ||
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'hasNumber'
            )
              ? 'text-danger'
              : 'text-success'
          ">
          <i class="material-icons">
            {{
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'required'
              ) ||
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'hasNumber'
              )
                ? 'cancel'
                : 'check_circle'
            }}
          </i>
          {{ 'PASSWORD-RECOVERY.VALIDATION_SMALL_CASE' | translate }}
        </label>

        <label
          class="col row"
          [ngClass]="
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'required'
            ) ||
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'hasCapitalCase'
            )
              ? 'text-danger'
              : 'text-success'
          ">
          <i class="material-icons">
            {{
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'required'
              ) ||
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'hasCapitalCase'
              )
                ? 'cancel'
                : 'check_circle'
            }}
          </i>
          {{ 'PASSWORD-RECOVERY.VALIDATION_CAPITAL_CASE' | translate }}
        </label>

        <label
          class="col row"
          [ngClass]="
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'required'
            ) ||
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'hasSmallCase'
            )
              ? 'text-danger'
              : 'text-success'
          ">
          <i class="material-icons">
            {{
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'required'
              ) ||
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'hasSmallCase'
              )
                ? 'cancel'
                : 'check_circle'
            }}
          </i>
          {{ 'PASSWORD-RECOVERY.VALIDATION_ONE_NUMBER' | translate }}
        </label>

        <label
          class="col row"
          [ngClass]="
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'required'
            ) ||
            recoveryPasswordForm.controls['newPasswordInput'].hasError(
              'minlength'
            )
              ? 'text-danger'
              : 'text-success'
          ">
          <i class="material-icons">
            {{
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'required'
              ) ||
              recoveryPasswordForm.controls['newPasswordInput'].hasError(
                'minlength'
              )
                ? 'cancel'
                : 'check_circle'
            }}
          </i>
          {{ 'PASSWORD-RECOVERY.VALIDATION_MIN_LENGHT' | translate }}
        </label>
      </div>
    </div>

    <div class="center">
      <button
        mat-raised-button
        color="Secondary"
        style="margin-top: 50px; width: 40%"
        [disabled]="recoveryPasswordForm.invalid"
        type="submit">
        {{ 'PASSWORD-RECOVERY.CHANGE_PASSWORD_BTN' | translate }}
      </button>
    </div>
  </form>
</ng-template>
