<div class="dsc-carousel" [ngStyle]="{ 'min-height': finalHeight }">
    <div class="dsc-carousel__btns">
        <!-- controls -->
        <button class="control prev" (click)="setBack()">
          
      <span class="arrow left"><svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="56.5" y="56.5" width="56" height="56" rx="28" transform="rotate(180 56.5 56.5)" fill="#D5D7D9"/>
        <path d="M13.5 28L41.5 28" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.5 34L13.5 28L18.5 22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </span>
    </button>
        <button class="control next" (click)="setNext()">
      <span class="arrow right"><svg width="57" height="57" viewBox="0 0 57 57" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="56.5" y="56.5" width="56" height="56" rx="28" transform="rotate(180 56.5 56.5)" fill="#D5D7D9"/>
        <path d="M13.5 28L41.5 28" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M18.5 34L13.5 28L18.5 22" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
        </span>
    </button>
    </div>
    <div #carousel class="dsc-carousel__content" [ngStyle]="
      contentType === CarouselType.TEXT_ONLY && {
        'align-items': 'center'
      }
    ">
        <ng-container *ngFor="let section of items">
            <div class="dsc-carousel__content-item carousel-content" [ngStyle]="
          (contentType === CarouselType.IMAGE_ONLY && {
            'background-image': 'url(' + section.image + ')',
            'margin-left': section.marginLeft + '%'
          }) ||
          (contentType === CarouselType.TEXT_ONLY && {
            background: '#007efd',  
            'border-radius': '50%',
            'padding': '20px',
            'margin-left': section.marginLeft + '%'
          })
        ">
                <ng-container *ngIf="section.title">
                    <h1 class="carousel-title ">
                        {{ section.title }}
                    </h1>
                    <p class="carousel-text">{{ section.subtitle }}</p>
                </ng-container>
            </div>
        </ng-container>
    </div>
    <div class="dsc-carousel__steps">
        <div class="dsc-carousel__steps-step 
            dsc-carousel__steps-step-{{
        currentPosition === item.id ? 'active' : ''
      }}" *ngFor="let item of items" (click)="setCurrentPosition(item.id)"></div>
    </div>
</div>