.side-bar {
	width: 250px;
	background: #F8F9FC;
	min-height: 94vh;
	transition: 500ms width;
	border-radius: 10px;
}

.side-bar ul {
	margin-top: 20px;
	list-style: none;
}
.side-bar ul li {
	font-size: 13px;
	padding: 15px 0px;
	padding-left: 20px;
	transition: 500ms background;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.side-bar ul li:hover {
	background: #cccccc;
}

.side-bar ul li.active{
	border: none;
	background-color: #EBEEED;
    text-decoration: none;
}

.side-bar ul li span{
	padding-left: 5px;
}
.side-bar ul li.active span, .side-bar ul li.active i{
	color: #57a0ff !important;
}

.side-bar ul li a {
	text-decoration: none;
	color: #000000;
	cursor: pointer;
	letter-spacing: 1px;
}
.side-bar ul li a i {
	display: inline-block;
	padding-right: 10px;
	font-size: 18px;
}

.user-p {
	text-align: center;
	padding-left: 10px;
	padding-top: 25px;
}

.user-p img {
	//border-radius: 50%;
}
.user-p h4 {
	color: #4c4c4c;
	padding: 5px 0;

}