/**** REPNA****/

.section-repna-content-table {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 0px 30px;
    border-bottom: 1px solid #c4c4c4;
}

.section-repna-grafic {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    height: 380px;
}

.config-grafic-repna {
    width: 75%;
    padding: 5px 25px;
}

.grafic-repna {
    display: flex;
    justify-content: center;
    margin-left: 160px;
}

.energy {
    width: 25%;
}

.regulator-bars {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    padding: 5px 25px;
}

.grafic-bars {
    width: 60%;
    border-right: 1px solid #c4c4c4;
}

.table-repna {
    width: 100%;
    margin: 0 auto;
    padding: 0px 25px;
}

.bar {
    width: 33%;
}

.h4 {
    padding-bottom: 24px;
}

.h4,
.body-2 {
    color: white;
}

.body-2 {
    text-align: center;
    padding: 0px 20%;
}

.title-natural {
    margin-top: 60px;
    margin-bottom: -20px;
    margin-left: 30px;
    text-align: start;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.buttons {
    margin-left: 100px;
}

.section-grafico-conductual {
    display: grid;
    grid-template-columns: 1.4fr 1fr;
}

.section-repna-grafic {
    grid-column: 1;
    grid-row: 1;
}

.table-repna {
    grid-column: 2;
    grid-row: 1/3;
}

.regulator-bars {
    grid-column: 1;
    grid-row: 2;
}

.regulator-bars.bottom-bars {
    grid-column: 1/3;
    grid-row: 3;
    width: 72%;
    margin: 0px auto;
}

.buttons-mobile {
    display: none;
}

@media (max-width: 744px) {
    .body-2 {
        padding: 0px;
    }
    .section-grafico-conductual {
        width: 100%;
    }
    .regulator-bars.table-repna {
        display: inherit;
    }
    .grafic-bars {
        width: 100%;
        border-right: 0px;
    }
    .section-repna-grafic {
        grid-column: 1 / 3;
        grid-row: 1;
    }
    .table-repna {
        grid-column: 1;
        grid-row: 2;
        padding-right: 0px;
    }
    .regulator-bars {
        grid-column: 2;
        grid-row: 2;
    }
    .regulator-bars.bottom-bars {
        grid-column: 1/3;
        grid-row: 3;
        width: 100%;
        margin: 0px auto;
    }
    .top-bars {
        flex-direction: column;
        padding: 0px;
        margin-top: 61px;
    }
    .top-bars .bar {
        width: 125%;
        margin-left: -25%;
        margin-bottom: -25%;
    }
    .bottom-bars .bar {
        width: 100%;
        margin-left: -5%;
        margin-bottom: -25%;
    }
}

@media (max-width: 375px) {
    .section-grafico-conductual {
        grid-template-columns: 1fr 1fr;
        padding: 20px
    }
    .section-repna-grafic {
        grid-column: 1 / 3;
        grid-row: 1;
        margin-top: -20px;
    }
    .table-repna {
        grid-column: 1/3;
        grid-row: 2;
        padding: 0px
    }
    .regulator-bars {
        grid-column: 1;
        grid-row: 3;
    }
    .regulator-bars.bottom-bars {
        grid-column: 2;
        grid-row: 3;
    }
    .top-bars {
        flex-direction: column;
        padding: 0px;
        margin-top: 0px;
    }
    .grafic-repna {
        margin-left: 80px;
    }
    .bottom-bars .bar,
    .top-bars .bar {
        width: 125%;
        margin-left: -20%;
        margin-bottom: -36%;
        margin-top: 0px;
    }
    .bottom-bars {
        flex-direction: column;
        padding: 0px;
    }
    .buttons-desktop {
        display: none;
    }
    .buttons-mobile {
        display: block;
        grid-column: 1/3;
        grid-row: 4;
        z-index: 50;
        margin-top: 15px;
    }
    .buttons {
        margin-left: 0px;
        margin-top: 10px;
    }
    .title-natural {
        margin-top: 30px;
        margin-bottom: -30px;
    }
    .energy {
        margin: 0px -50px;
        width: auto;
    }
    .body-2 {
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        text-align: center;
    }
    .h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        text-align: center;
        margin-top: 36px;
    }
    .table-repna {
        margin-top: -10px;
    }
    .button {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}