/*INFO PERFIL*/

.descripcion {
    text-align: center;
    margin-top: 20px;
    padding: 0 10%;
    color: #6D7783;
}


/*SECCIONES INTERNAS*/

.grafico {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
}

@media (max-width: 744px) {
    .descripcion {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
    }
}