// h1 {
//     font-size: 43px;
//     font-weight: bold;
// }

/*INFO PERFIL*/

.tipo-deperfil {
    padding: 20px 0px;
}

.perfil {
    font-size: 28px;
    font-weight: bold;
    color: #007efd;
}

.list-icon {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.list-icon>svg {
    flex-shrink: 0;
    flex-grow: 0;
}

.icon {
    width: 36px;
    height: 36px;
    padding-right: 10px;
}

.item {
    font-size: 22px;
    font-family: Poppins;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.h2 {
    margin-bottom: 10px;
}

.profile {
    margin: 15px 0px;
    padding-top: 50px;
}

@media (max-width: 1200px) {
    .profile {
        padding-top: 20px;
    }
    .h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
}

@media (max-width: 440px) {
    .h2 {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
    }
    .item {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    .list-icon {
        padding: 0px;
    }
}