// h1 {
//     font-size: 43px;
//     font-weight: bold;
// }

/*INFO PERFIL*/

.tipo-deperfil {
    padding: 20px 0px;
}

.perfil {
    font-size: 28px;
    font-weight: bold;
    color: #007efd;
}

.list-icon {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}

.icon {
    width: 36px;
    height: 36px;
    padding-right: 10px;
}

.item {
    font-size: 22px;
    font-family: Poppins;
}