

@media (min-width: 1200px) {
    .background-triangle {
        background-image: url('/assets/img/background/triangle.svg');
        background-size: 16%;
        background-position: left bottom -14%;
        background-repeat: no-repeat;
        padding: 0px 50px;
        margin: 0px -50px;
    }
}