/* Tendencia comportamental de equipo de trabajo*/
.behavioral-bar {
    display: flex;
    flex-direction: column;
}

.behavioral-bar__content {
    height: 30px;
    position: relative;
    margin: 0 auto;
}

.behavioral-bar__content__back {
    height: 15px;
    width: 585px;
    border-radius: 100px;
    background: #FF6819;
    margin: 0 auto;
}

.behavioral-bar__content__back--unselected{
    background-color: #d5d7d9
}

.behavioral-bar__content__back--abs {
    position: absolute;
    top: 0;
    background: transparent
}

.behavioral-bar__percentage {
    justify-content: space-between;
    width: 585px;
    margin: 0 auto;
}

.behavioral-bar__percentage__item {
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
}

.behavioral-bar__content__back__person {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border-radius: 13px;
    left: 570px;//100%;
    position: relative;
}

.behavioral-bar__content__back__person--active {
    background: #007EFD;
    border: 2px solid #ffffff;
}

.behavioral-bar__content__back__name {
    left: 570px;
    // left: 100%;
    position: relative;
}

.behavioral-bar__content__back__name span {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px
}

/*********************************************/