<div class="">
  <div *ngIf="nothingFound">
    <mat-card>
      <mat-card-content style="text-align: center; margin: 20px">
        <h3>
          {{ 'NOT_FOUND_FILTER_TEXT' | translate }} <i>{{ filterText }}</i>
        </h3>
      </mat-card-content>
    </mat-card>
  </div>

  <div *ngIf="data">
    <app-mat-custom-individuals-table
      #individualTable
      [pageSize]="pageSize"
      [selectedIds]="selectedIndividualIds"
      [lockedSelectId]="lockedSelectId"
      [multipleSelection]="multipleSelection"
      [maxMultipleSelection]="maxMultipleSelection"
      [dataSource]="dataSource"
      [hasSelectLeader]="hasSelectLeader"
      [leaderId]="selectedLeaderId"
      [hasSelect]="hasSelect"
      [preselectedIds]="preselectedIds"
      [columns]="columns"
      [totalSize]="totalSize"
      [typeFilterList]="typeFilterList"
      (paginateChange)="onPaginateChange($event)"
      (selectedIndividualsEvent)="onSelectedIndividualsChange($event)"
      (selectedLeaderIdEvent)="onSelectedLeaderChange($event)"
      (filterInput)="onFilterInput($event)"
      (filters)="onFilters($event)">
    </app-mat-custom-individuals-table>
  </div>
</div>
