<div class="table-actionbar">
  <div class="search-box">
    <div class="form-group">
      <app-input
        (Enter)="onFilterInput($event)"
        (Debounce)="onFilterInput($event)"
        placeholder="Search...">
        ></app-input
      >
    </div>
    <ng-container *ngIf="chipItems.length > 0">
      <div style="margin-top: 11px; margin-bottom: 0px">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let chipItem of chipItems; let idx = index"
            [selectable]="'true'"
            [removable]="'true'"
            (removed)="removeChip(chipItem, idx)">
            {{ chipItem.name | translate }}
            <mat-icon matChipRemove *ngIf="'true'">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
  </div>
  <div class="action-box">
    <button
      #tooltip="matTooltip"
      matTooltip="{{ 'TOOLTIPS.LABEL_SEARCH_FILTER' | translate }}"
      matTooltipPosition="above"
      aria-tooltip="Filter"
      class="btn-share-report"
      (click)="showFilterView()">
      <app-icon-filter></app-icon-filter>
    </button>
  </div>
  <ng-container *ngIf="showFilter">
    <div class="content-filter">
      <div class="content-filter__tag d-flex">
        <div>
          <app-icon-filter></app-icon-filter>
        </div>
        <div class="content-filter__tag__label">
          <mat-label
            ><h2>
              {{ 'MY_REPORTS.FILTER_TAG' | translate }}
            </h2></mat-label
          >
        </div>
      </div>
      <ng-container *ngFor="let typeFilterItem of typeFilterList">
        <div class="content-filter__tag__type-report">
          <mat-label class="left"
            ><h2>
              {{ typeFilterItem.name }}
            </h2></mat-label
          >
        </div>
        <div>
          <ng-container *ngIf="typeFilterItem.key !== 'SALES'">
            <div
              *ngFor="let item of typeFilterItem.data"
              style="margin-bottom: 15px">
              <button
                class="content-filter__item"
                [ngClass]="{ 'content-filter__item--active': isChecked(item) }"
                [value]="item"
                (click)="selectItem(typeFilterItem.key, item)">
                <div>
                  {{ item.name | translate }}
                </div>
                <div *ngIf="isChecked(item)">
                  <app-icon-close [color]="'#007EFD'"></app-icon-close>
                </div>
              </button>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <div class="content-filter__actions">
        <button
          class="content-filter__actions__reset"
          mat-stroked-button
          color="primary"
          (click)="reset()">
          {{ 'MY_REPORTS.FILTER_ACTIONS.RESET' | translate }}
        </button>
        <button
          class="content-filter__actions__filter"
          mat-raised-button
          color="primary"
          (click)="onFilter()">
          {{ 'MY_REPORTS.FILTER_ACTIONS.FILTER' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z0">
  <!-- checkbox header -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox
        *ngIf="multipleSelection"
        color="primary"
        (click)="$event.stopPropagation()"
        (change)="$event ? toggleAllCheckbox($event.checked) : null"
        [checked]="isAllSelected()"
        [disabled]="this.dataSource?.data?.length === 0">
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *cdkCellDef="let row; let idx = index">
      <mat-checkbox
        class="custom"
        color="primary"
        #matCheckBox
        (click)="$event.stopPropagation()"
        (change)="selectIndividual(matCheckBox.checked, idx, row)"
        [disabled]="isDisabled(row)"
        [checked]="checkStatus(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
  <!-- table dynamic columns -->
  <ng-container
    *ngFor="let column of columns"
    [matColumnDef]="column.columnDef">
    <mat-header-cell *cdkHeaderCellDef>{{
      column.header | translate
    }}</mat-header-cell>
    <mat-cell
      *cdkCellDef="let row"
      [ngStyle]="{
        color:
          row[column.columnDef] | statusColorType: [column.columnDef, this.row]
      }"
      [ngClass]="lockedSelectId === row.individualId ? 'locked' : ''">
      {{
        row[column.columnDef]
          | validateColumnType: column.columnType
          | translate
      }}
    </mat-cell>
  </ng-container>

  <!-- table action column -->
  <ng-container matColumnDef="leader">
    <mat-header-cell *matHeaderCellDef>Lider</mat-header-cell>
    <mat-cell *matCellDef="let element; let idx = index">
      <mat-slide-toggle
        #matToggleLead
        class="example-margin"
        [color]="'primary'"
        [checked]="selectedLeaderId === element.individualId"
        [disabled]="isDisabledLeader(element)"
        (change)="selectLeader(element, matToggleLead.checked)">
      </mat-slide-toggle>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    [ngClass]="checkStatus(row) ? 'example-expanded-row' : ''"></mat-row>
</mat-table>
<!-- table pagination -->
<mat-paginator
  *ngIf="dataSource"
  [pageSizeOptions]="pageSizeOptions"
  [pageIndex]="pageIndex"
  [length]="totalSize"
  [pageSize]="pageSize"
  (page)="onPaginateChange($event)"
  showFirstLastButtons
  aria-label="Select page"></mat-paginator>
