.section-graph-card {
    padding: 20px;
}

.section-graph-card .mat-expansion-panel {
    box-shadow: none;
}

.section-graph-card>mat-accordion>.progress-bar-unselected {
    padding: 0 24px;
}

.mat-expansion-panel:not(.mat-expanded)>.mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.00);
}