.section-graph-card {
    padding: 20px 0px;
}

.section-graph-card .mat-expansion-panel {
    box-shadow: none;
}

.section-graph-card>mat-accordion>.progress-bar-unselected {
    padding: 0 24px;
}

.mat-expansion-panel:not(.mat-expanded)>.mat-expansion-panel-header:hover:not([aria-disabled=true]) {
    background: rgba(0, 0, 0, 0.00);
}

.title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #9A9A9A;
}

.title.highlighted {
    color: #FF6819;
}

div.mat-expansion-panel-body {
    padding: 0 24px !important;
    margin-top: 200px;
}

@media (max-width: 375px) {
    .h4.subtitle {
        font-size: 24px;
        line-height: 32px;
    }
    .body-1 {
        font-size: 14px;
        line-height: 20px;
    }
    .title {
        font-weight: 400;
        font-size: 17px;
        line-height: 24px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}