// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$pda-primary: mat.define-palette(mat.$indigo-palette);
$pda-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
// The warn palette is optional (defaults to red).
$pda-warn: mat.define-palette(mat.$red-palette);
// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$pda-theme: mat.define-light-theme((color: (primary: $pda-primary, accent: $pda-accent, warn: $pda-warn, )));

/**********************Configuration typografic*********************/

$custom-typography: mat.define-typography-config($font-family: "Poppins");
@include mat.core($custom-typography);

/*******************************************************************/

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($pda-theme);

/*********************************************************************************/

@import "./assets/variables";

/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html,
body {
    height: 100%;
    width: 100%
}

body {
    margin: 0;
}

.white-background {
    background: white;
}

.inactive-opacity {
    opacity: 0.5;
}

div.cdk-global-overlay-wrapper>div.cdk-overlay-pane {
    overflow: auto;
    max-height: 86%;
}


/***********Styles Reports*********************/

.button-text {
    float: right;
    margin: 5px 0;
    border: 2px solid #0075FF;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #007efd;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    cursor: pointer;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
}

.buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid #007efd;
    padding: 10px;
    background-color: #ffffff;
    color: #b9b9b9;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    margin: 0 10px;
    margin-bottom: 20px;
}

.buton active,
.button:hover {
    border: 1px solid #007efd;
    padding: 10px;
    background-color: #007efd;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    border-radius: 50px;
}

.descripcion {
    margin-top: 20px;
    color: #6D7783;
}

.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #000;
}


/*SECCIONES*/

.block-section {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 50px 0px;
    width: 1475px;
    justify-content: space-evenly;
    gap: 25%;
}


/*SECCIONES INTERNAS*/

.section-internal {
    width: 596px;
}

.section-behavioral {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: calc(100% - 20px);
    width: 100%;
    padding-top: 48px;
    margin-bottom: 51px;
    background-image: url('/assets/img/background/back2.svg');
    background-position: left 230px;
    background-size: 70%;
    background-repeat: no-repeat;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .section-behavioral {
        background: #0075FF;
        border-radius: 0px 48px 48px 0px;
    }
}

.section-repna {
    margin: 80px 0px;
    display: flex;
    justify-content: center;
    // padding: 50px 0px;
    // background-image: url('/assets/img/background/Back3.svg');
    // background-position: left 230px;
    // background-size: 100%;
    // width: 100%;
    // background-repeat: no-repeat;
    // overflow: hidden;
}

.section-repna .content {
    width: 1168px;
}


/* SECCION NOMBRE DEL TIPO DE PERFIL*/

.tipo-de-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url('/assets/img/background-perfil.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}

.section-comportamental {
    height: auto;
}

.section-grafico-conductual {
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    border: solid 1px #9999990a;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgb(0 0 0 / 10%);
    background-color: #ffffff;
}

.descriptivo {
    padding: 30px;
    box-shadow: 2px 2px 20px 1px rgb(0 0 0 / 20%);
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
}

// Classes generics
.vertical-scroll {
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.select-half {
    margin: 20px;
    width: 50%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center
}

.mt-10 {
    margin-top: 10px;
}

.mb-20 {
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.d-flex {
    display: flex;
}

.fd-column {
    flex-direction: column;
}

.w-100 {
    width: 100%;
}

.white {
    color: #ffffff;
}

.blue {
    color: #0075ff;
    text-align: center;
}

.text-blue {
    color: #0075ff;
}

.left {
    // TODO - Natalia: Revisar uso de important
    text-align: left;
    padding: 0px;
}

.selector {
    max-width: 500px;
    margin-top: 10px;
    padding: 8px 16px;
    border-radius: 44px;
    border: 0px;
    font-size: 19px;
    line-height: 24px;
    font-weight: bold;
    color: #1F140F;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #FFFFFF;
    background-image: url("data:image/svg+xml;utf8,<svg fill='grey' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7.10515 7.44419L13.0076 13.3364L18.9101 7.44419C19.5034 6.85194 20.4617 6.85194 21.055 7.44419C21.6483 8.03645 21.6483 8.99317 21.055 9.58542L14.0725 16.5558C13.4792 17.1481 12.5208 17.1481 11.9275 16.5558L4.94497 9.58542C4.35168 8.99317 4.35168 8.03645 4.94497 7.44419C5.53825 6.86712 6.51186 6.85194 7.10515 7.44419Z'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: center;
    padding-right: 45px;
    box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.12);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.title-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 6px 16px;
    gap: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2.38553px 4.77106px #C3C4CA;
    border-radius: 119.276px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    max-width: 90%;
}

.title-selector p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.orientationLogo {
    height: 200px;
    width: 200px;
    margin-bottom: -120px;
}

.orientationLogo>img {
    height: 200px;
    width: 200px;
    object-fit: contain;
}

.puestos-compatibles,
.grafico-compatibility {
    margin: 10px 0;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

//Solo para filas y columnas mediante flexbox
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.btn-pda-primary {
    color: #ffffff;
    background: #007EFD;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.btn-pda-outline {
    color: #007EFD;
    background: #ffffff;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    border: 1px solid #007EFD;
}


/**** RESPONSIVE mobile-***/


/*SECCIONES INTERNAS*/

@media (max-width: 1200px) {
    .container-content {
        flex-direction: column-reverse;
    }
    .block-section {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .section-internal {
        width: 100%;
        padding: 5px 25px;
    }
    .image-center {
        text-align: center;
    }
    .section-job,
    .tipo-de-perfil {
        flex-wrap: wrap;
        height: 100%;
        ;
    }
    .section-grafico-conductual {
        width: 100%;
        padding: 2.5px;
    }
    .section-descriptivos,
    .section-descriptivos2 {
        width: 90%;
        padding: 2.5px;
    }
    .selector {
        max-width: 100%;
    }
}


/*TODO: Borrar estilo cuando tengamos la estructura desde el area de maquetacion*/

.development {
    background: #3f51b5;
    margin-left: 20px;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
}

.development h1 {
    color: #ffffff;
}

.pda-dark-backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.h1 {
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;
}

.h2 {
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
}

.h3 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
}

.h4 {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
}

.h5 {
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.h6 {
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}

.h7 {
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
}

.body-1 {
    font-weight: 400;
    font-size: 19px;
    line-height: 24px;
    color: #5E5E5E;
}

.body-2 {
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: #5E5E5E;
}

.body-3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #5E5E5E;
}

.body-4 {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #5E5E5E;
}

.px-0 {
    padding-left: 0px;
    padding-right: 0px;
}

.my-32 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.justify-content-between {
    justify-content: space-between
}

select.small-shadow {
    box-shadow: 0px 3px 5px #C3C4CA;
}

.section-graph-card {
    width: 100%;
    border: solid 1px #9999990a;
    border-radius: 15px;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
    background-color: white;
}

.anychart-credits {
    visibility: hidden;
}

div.mat-expansion-panel-body {
    padding-bottom: 0px;
}

.buttons>.naturalButton {
    color: black;
    box-shadow: 0px 2.38553px 4.77106px #C3C4CA;
    border: 0px;
    text-transform: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

.naturalButton:active {
    color: white;
    background-color: #006EDD;
}

.naturalButton.active,
.naturalButton:hover:not(:active) {
    color: white;
    background-color: #007EFD;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.not-allowed {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.justify-center {
    justify-content: center;
}


/****************Scroll custom**************/

.scroll-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: justify;
    color: #6D7783;
    overflow-y: auto;
    padding-right: 0px;
}

.scroll-content::-webkit-scrollbar {
    width: 4px;
}

.scroll-content::-webkit-scrollbar-track {
    background-color: #EEF1F4;
    border-radius: 6px;
}

.scroll-content::-webkit-scrollbar-thumb {
    background-color: #667080;
    border-radius: 6px;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.5;
}


/*******************************************/

.tooltip-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
}

.tooltip-text-bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
}

.tippy-box[data-theme~=report-tooltip] {
    background-color: #fff;
    border-radius: 13px;
    background-clip: padding-box;
    // border: 1px solid rgba(0, 8, 16, .15);
    color: #333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tippy-box[data-theme~=report-tooltip]>.tippy-arrow {
    transform: rotate(45deg) !important;
}

.tippy-box[data-theme~=report-tooltip]>.tippy-arrow:after,
.tippy-box[data-theme~=report-tooltip]>.tippy-svg-arrow:after {
    content: "";
    position: absolute;
    z-index: -1
}

.tippy-box[data-theme~=report-tooltip]>.tippy-arrow:after {
    border-color: transparent;
    border-style: solid
}

.tippy-box[data-theme~=report-tooltip][data-placement^=top]>.tippy-arrow:before {
    border-top-color: #fff
}

.tippy-box[data-theme~=report-tooltip][data-placement^=top]>.tippy-arrow:after {
    border-top-color: white;
    border-width: 8px 7.5px 0;
    top: 3px;
    left: 3px;
}

.tippy-box[data-theme~=report-tooltip][data-placement^=top]>.tippy-svg-arrow>svg {
    top: 16px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=top]>.tippy-svg-arrow:after {
    top: 4px;
    left: 4px;
}

.tippy-box[data-theme~=report-tooltip][data-placement^=bottom]>.tippy-arrow:before {
    border-bottom-color: #fff;
    bottom: 16px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=bottom]>.tippy-arrow:after {
    border-bottom-color: rgba(0, 8, 16, .2);
    border-width: 0 7px 7px;
    bottom: 17px;
    left: 1px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=bottom]>.tippy-svg-arrow>svg {
    bottom: 16px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=bottom]>.tippy-svg-arrow:after {
    bottom: 17px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=left]>.tippy-arrow:before {
    border-left-color: #fff
}

.tippy-box[data-theme~=report-tooltip][data-placement^=left]>.tippy-arrow:after {
    border-left-color: rgba(0, 8, 16, .2);
    border-width: 7px 0 7px 7px;
    left: 17px;
    top: 1px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=left]>.tippy-svg-arrow>svg {
    left: 11px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=left]>.tippy-svg-arrow:after {
    left: 12px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=right]>.tippy-arrow:before {
    border-right-color: #fff;
    right: 16px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=right]>.tippy-arrow:after {
    border-width: 7px 7px 7px 0;
    right: 17px;
    top: 1px;
    border-right-color: rgba(0, 8, 16, .2)
}

.tippy-box[data-theme~=report-tooltip][data-placement^=right]>.tippy-svg-arrow>svg {
    right: 11px
}

.tippy-box[data-theme~=report-tooltip][data-placement^=right]>.tippy-svg-arrow:after {
    right: 12px
}

.tippy-box[data-theme~=report-tooltip]>.tippy-svg-arrow {
    fill: #fff
}

.tippy-box[data-theme~=report-tooltip]>.tippy-svg-arrow:after {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCA2czEuNzk2LS4wMTMgNC42Ny0zLjYxNUM1Ljg1MS45IDYuOTMuMDA2IDggMGMxLjA3LS4wMDYgMi4xNDguODg3IDMuMzQzIDIuMzg1QzE0LjIzMyA2LjAwNSAxNiA2IDE2IDZIMHoiIGZpbGw9InJnYmEoMCwgOCwgMTYsIDAuMikiLz48L3N2Zz4=);
    background-size: 16px 6px;
    width: 16px;
    height: 6px
}

.tippy-box[data-theme~='report-tooltip'] {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    padding: 15px;
}


/******************************1440px*********************************************/

@media (min-width: 1440px) {
    .behavioral-trend-container {
        margin-bottom: 80px;
    }
}

@media (max-width: 1440px) {
    .block-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        margin: 50px 0px;
        width: 1282px;
        justify-content: space-evenly;
        gap: 202px;
    }
}

@media (max-width: 1200px) {
    .block-section {
        width: 100%;
    }
    .section-repna .content {
        width: 100%;
    }
    .section-repna {
        padding: 0px 70px;
        width: 100%;
        padding-top: 64px;
        padding-bottom: 64px;
        background: #0094FF;
        border-radius: 54px 0px 0px 0px;
    }
    .table-repna .inactive-opacity {
        display: none;
    }
}

@media (max-width: 440px) {
    .orientationLogo>img {
        height: 100px;
    }
    .section-repna {
        padding: 0px 40px;
        padding-bottom: 48px;
        background: #0094FF;
        border-radius: 48px 0px 0px 0px;
    }
    .selector {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        max-width: 260px;
    }
    .block-section {
        margin: 0px;
    }
    .grafico-compatibility {
        margin-bottom: -40px;
    }
}


/*********************************************************************************/

@import "./assets/variables"