:host ::ng-deep {

    .mat-select-value {
        color: #6D7783;
        font-size: 14px;
        font-weight: 400;
    }

}

.my-reports__description {
    margin: 25px 0px
}

.my-reports__description p {
    font-size: 12px;
    color: #727276;
}