/* formateo parrafos */

.polar-grafic {
    width: 100%;
    height: 526px;
}


/*INFO PERFIL*/

.descripcion {
    text-align: center;
    margin-top: 20px;
    padding: 0 10%;
    color: #6D7783;
}

.selector .small-shadow {
    z-index: 250;
}

@media (max-width: 1200px) {
    .h4.subtitle,
    .body-2 {
        color: white;
    }
}

@media (max-width: 440px) {
    .h4.subtitle {
        font-size: 24px;
        line-height: 32px;
    }
    .body-2 {
        margin-top: 45px;
        font-size: 14px;
        line-height: 20px;
    }
}