/* formateo parrafos */

.polar-grafic {
    width: 100%;
    height: 526px;
}


/*INFO PERFIL*/

.descripcion {
    text-align: center;
    margin-top: 20px;
    padding: 0 10%;
    color: #6D7783;
}

@media (max-width: 744px) {
    .h4.subtitle,
    .body-1 {
        color: white;
    }
}