/* formateo parrafos */
.section-polar-grafic{
  width: 100%; 
  border: solid 1px #9999990a;
  border-radius: 15px;
  box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.1);
  padding-bottom: 20px; 
}
.polar-grafic{
  width: 100%;
  height: 500px;
}
.blue {
  color: #3B43F2;
  text-align: center;
}

/*INFO PERFIL*/

.descripcion {
  text-align: center;
  margin-top: 20px;
  padding: 0 10%;
  color: #6D7783;
}