<div class="table-actionbar">
  <div class="search-box">
    <div class="form-group">
      <app-input
        (Enter)="onFilterInput($event)"
        (Debounce)="onFilterInput($event)"
        placeholder="Search...">
        ></app-input
      >
    </div>
    <ng-container *ngIf="chipItems.length > 0">
      <div style="margin-bottom: 15px">
        <mat-chip-list #chipList>
          <mat-chip
            *ngFor="let chipItem of chipItems; let idx = index"
            [selectable]="'true'"
            [removable]="'true'"
            (removed)="removeChip(chipItem, idx)">
            {{ chipItem.key | reportType: typeFilterList }}
            <!-- {{ chipItem.name | translate }} -->
            <mat-icon matChipRemove *ngIf="'true'">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
      </div>
    </ng-container>
  </div>
  <div class="action-box">
    <button
      [matTooltip]="filterTooltip"
      matTooltipPosition="below"
      (click)="showFilterView()"
      mat-icon-button
      aria-label="Example icon button with a vertical three dot icon">
      <img src="/assets/icons/filter.svg" alt="" />
    </button>
    <ng-container *ngIf="showFilter">
      <div class="content-filter">
        <div
          *ngFor="let typeFilterItem of typeFilterList"
          style="margin-bottom: 10px">
          <mat-label class="left"
            ><h2 style="margin-bottom: 0px">
              {{ typeFilterItem.name }}
            </h2></mat-label
          >
          <mat-selection-list>
            <mat-list-option
              *ngFor="let item of typeFilterItem.data"
              [value]="item"
              [selected]="isChecked(item)"
              (click)="selectItem(typeFilterItem.key, item)">
              {{ item.name | translate }}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <button mat-stroked-button color="primary" (click)="reset()">
          {{ 'MY_TEMPLATES.LABEL.BTN_RESET' | translate }}
        </button>
        <button mat-raised-button color="primary" (click)="onFilter()">
          {{ 'MY_TEMPLATES.LABEL.BTN_FILTER' | translate }}
        </button>
      </div>
    </ng-container>
  </div>
</div>

<ng-container *ngIf="dataSource.data.length > 0">
  <mat-table #table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- checkbox header -->

    <!-- table dynamic columns -->
    <ng-container
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
      class="center">
      <mat-header-cell *cdkHeaderCellDef>{{
        column.header | translate
      }}</mat-header-cell>

      <ng-container [ngSwitch]="column.columnType">
        <ng-container *ngSwitchCase="'reportType'">
          <mat-cell *cdkCellDef="let row">
            {{ row[column.columnDef] | reportType: typeFilterList }}
          </mat-cell>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <mat-cell
            *cdkCellDef="let row"
            [ngStyle]="{
              color:
                row[column.columnDef]
                | statusColorType: [column.columnDef, this.row]
            }">
            <span class="ellipsis">
              {{
                row[column.columnDef]
                  | validateColumnType: column.columnType
                  | translate
              }}</span
            >
          </mat-cell>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- table action column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>{{
        'MY_TEMPLATES.TABLE.COLUMN.ACTIONS' | translate
      }}</mat-header-cell>
      <mat-cell *matCellDef="let element; let idx = index">
        <!-- TODO: Se comenta linea de codio en caso que luego se requiere tenerlo desactivado hasta seleccionar
        [disabled]="!selection.isSelected(element)"
        [ngStyle]="!selection.isSelected(element) && { cursor: 'default' }"
      -->

        <div class="d-flex" style="width: 100%; justify-content: space-evenly">
          <button
            class="btn-actions-report"
            (click)="editReportSettings(element)"
            [matTooltip]="useTemplateTooltip"
            matTooltipPosition="below">
            <app-share-report></app-share-report>
          </button>

          <button
            class="btn-actions-report"
            (click)="deleteTemplate(element)"
            [matTooltip]="deleteTemplateTooltip"
            matTooltipPosition="below">
            <app-icon-trash-can></app-icon-trash-can>
          </button>

          <button
            class="btn-actions-report"
            (click)="renameTemplate(element)"
            [matTooltip]="renameTemplateTooltip"
            matTooltipPosition="below">
            {{ 'MY_TEMPLATES.TABLE.ACTIONS.RENAME' | translate }}
          </button>

          <button
            matTooltip="DUPLICAR TEMPLATE"
            class="btn-actions-report"
            (click)="duplicateTemplate(element)"
            [matTooltip]="duplicateTemplateTooltip"
            matTooltipPosition="below">
            {{ 'MY_TEMPLATES.TABLE.ACTIONS.DUPLICATE' | translate }}
          </button>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [ngClass]="
        selection.isSelected(row) ? 'matTableHighlight' : ''
      "></mat-row>
  </mat-table>
  <!-- table pagination -->
  <mat-paginator
    *ngIf="dataSource"
    [pageSizeOptions]="pageSizeOptions"
    [length]="totalSize"
    [pageSize]="pageSize"
    (page)="onPaginateChange($event)"
    showFirstLastButtons
    aria-label="Select page"></mat-paginator>
</ng-container>
